html {
    font-family: 'Rubik', sans-serif;
    font-size: 125%;
}

.wrapper{
    max-width: 1260px;
    width: 90%;
    margin: 0 auto;
}

// header styles
header {
    text-align: center;
}

h1 {
    font-size: 1rem;
}

select {
    border: none;
    padding: 10px;
    background-color: black;
    color: white;
    max-width: 90%;
    text-align: center;
    font-size: 0.8rem;
}

main {
    align-items: center;
    display: flex;
    margin: 40px 0 50px;
    flex-direction: column;
    justify-content: space-around;
}

button {
    border: 3px solid black;
    background-color: black;
    color: white;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 20px;
    padding: 5px;
    font-size: 0.8rem;
    transition-duration: 0.3s;
}

button:hover,
button:focus {
    background-color: white;
    color: black
}

// dog image styles
.dogImg {
    max-height: 50vh;
}

img {
    max-width: 100%;
    height: auto;
    max-height: 60vh;
    display: block;
    box-shadow: 10px 10px;
    margin: 0 0 0 auto;
}

.dogInfo {
    // padding-right: 25px;
    text-align: center;
    font-size: 1rem;
}
// dog image style END

// footer start
footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    p {
        margin: 5px 0;
        font-size: 0.8rem;
    }
}