@media (min-width: 500px) {
    h1 {
        font-size: 1.5rem;
    }
}

@media (min-width: 650px) {
    main {
        flex-direction: row;
    }

    .dogInfo {
        text-align: left;
        width: 45%;
    }

    .dogImg {
        width: 45%;
    }
}

@media (min-width: 800px) {
    // .wrapper {
    //     width: 80%;
    // }

    h1 {
        font-size: 1.9rem;
    }

    main {
        width: 70%;
        margin: 40px auto;
    }
}